.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: monospace;
  transition: box-shadow 0.3s; 
}

.input:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.label {
  font-size: 20px;
  font-family: monospace;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  padding: 10px;
}

.eye {
  position: absolute;
  right: 15px;
  bottom: 18px;
  cursor: pointer;
  user-select: none;
  color: lightsalmon;
  font-weight: bold;
  cursor: url("src/assets/images/mini.png"), auto;
}

.eye.closed {
  opacity: 0.4;
}

.eye.open {
  opacity: 1;
}