:root {
  cursor: url('assets/images/basket.png'), auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgba(235, 150, 28); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: darkred; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(235, 150, 28); /* creates padding around scroll thumb */
}