@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.parent {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-left-color: rgb(255, 17, 0);
    animation: spin 1s ease infinite;
    display: block;
    padding: 20px;
    margin-top: 100px;
}