/* Estilo general del modal */
.modal {
    position: fixed; /* Posicionamiento fijo en toda la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda la pantalla en ancho */
    height: 100%; /* Ocupa toda la pantalla en altura */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente para efecto de oscurecimiento */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 1000; /* Asegura que el modal esté sobre otros elementos */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: rgb(213, 118, 118); /* Fondo blanco para el contenido */
    padding: 20px; /* Espacio interior para no tocar los bordes */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para el modal */
    width: 90%; /* Ajuste de ancho con un máximo de 500px */
    max-width: 600px;
  }
  
  /* Botón para cerrar el modal */
  .close-button {
    float: right; /* Alineado a la derecha */
    font-size: 1.5rem; /* Tamaño grande para fácil clic */
    cursor: pointer; /* Cursor tipo pointer para indicar clic */
  }
  
  /* Estilos para formularios */
  .modal form {
    display: flex;
    flex-direction: column; /* Los elementos del formulario en columna */
  }
  
  .modal form label {
    margin-bottom: 10px; /* Espacio entre etiquetas */
  }
  
  .modal form input,
  .modal form textarea,
  .modal form button {
    padding: 8px; /* Relleno para los elementos del formulario */
    margin-top: 5px; /* Espacio arriba de cada elemento */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes ligeramente redondeados */
  }
  
  label {
    font-weight: bold; /* Texto en negritas */
    color: #333; /* Color de texto oscuro */
  }

  .form-buttons {
    display: flex; /* Utiliza flexbox para alinear los botones */
    justify-content: space-between; /* Separa los botones uniformemente */
    margin-top: 20px; /* Margen superior para separar de otros campos del formulario */
    padding: 0 10px; /* Padding lateral para mantener los botones dentro del flujo visual del formulario */
}
  