.post {
  background: rgba(235, 150, 28);
  color: rgba(40, 55, 71);
  font-family: sans-serif;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 60%;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.team-name, .vs {
  font-size: 1.5em;
}

.score {
  background: black;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 2em;
  font-weight: bold;
  color: yellow;
}

.post-image {
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
}

.post-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
