.styles {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(40, 55, 71);
    border-radius: 20px;
    background-color: rgba(235, 150, 28);
    width: 60%;
    padding: 20px;
    font-family: Times New Roman, sans-serif;
    font-size: 1.5em;
}

.imageStyles {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
}